@font-face {
  font-family: Inter;
  src: url("./assets/typography/Brandbeet.woff2");
}

:root {
  --black: #0d0d11;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter;
  font-weight: 400;
  color: var(--black);
}

.header-layout {
  position: fixed;
  top: 0;
  width: 100%;
  padding: clamp(35px, 4vw, 50px) clamp(10px, 4vw, 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 10;
}

.content-layout a {
  text-decoration: none;
  color: #fff;
}

.content-layout:nth-child(1) a {
  font-size: 22.5px;
  letter-spacing: -0.1em;
}

.content-layout:nth-child(2) a {
  font-size: 15px;
  letter-spacing: -0.1em;
}

.row-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row-layout span {
  transition: transform 500ms cubic-bezier(0.76, 0, 0.24, 1);
}

.row-layout span:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
}

.row-layout:hover span {
  transform: translateY(-100%);
}

.layout-1 {
  background: #000;
  /* height: 200dvh; */
}

.main-layout-1 {
  position: relative;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

.title-layout-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateY(50%); */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 1;
}

.title-layout-1 h1 {
  font-size: clamp(50px, 12.5vw, 175px);
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.1em;
}

.scroll-layout-1 {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 1;
}

.scroll-layout-1 p {
  text-transform: uppercase;
  font-size: clamp(7.5px, 1vw, 9px);
  color: #fff;
}

.indicator-layout-1 {
  height: 1px;
  width: 100%;
  background: #ffffff4a;
  margin-top: 0.2em;
  /* opacity: 0.25; */
}

.progress-layout-1 {
  height: 125%;
  width: 50%;
  background: #fff;
  opacity: 1;
}

.rotate-layout-1 {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 27.5px;
}

.container-layout-1 {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 27.5px;
  width: clamp(225px, 40vw, 600px);
}

.container-layout-1 img {
  border-radius: 5px;
}

.layout-2 {
  background: #fff;
  margin-bottom: 25dvh;
}

.round-wrapper-layout-2 {
  position: relative;
  transform: translateY(-50%);
  height: 25dvh;
  width: 100%;
  overflow-x: clip;
}

.round-layout-2 {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 100%;
  background: white;
  border-radius: 100%;
}

.content-layout-2 {
  padding-inline: 2.5vw;
}

.main-layout-2 {
  /* height: 100dvh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.row-layout-2 {
  position: relative;
}

.row-layout-2:nth-child(2) {
  margin-left: auto;
  text-align: right;
}

.row-layout-2 h1 {
  font-size: clamp(30px, 10vw, 110px);
  letter-spacing: -0.075em;
  font-weight: 500;
  color: #e2e2e2;
}

.row-layout-2 .char {
  display: inline-block;
}

.row-layout-2 h1:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}

.row-layout-2 h1:nth-child(1) {
  position: relative;
  /* overflow: hidden; */
}

.top-layout-3 {
  height: fit-content;
  width: 100%;
  background: #fff;
  margin-bottom: 40px;
  padding-inline: 2.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text-layout-3 p {
  opacity: 0.5;
  font-size: clamp(15px, 2.5vw, 22.5px);
  letter-spacing: -0.05em;
}

.buttons-layout-3 {
  display: flex;
  align-items: center;
  gap: 25px;
}

.buttons-layout-3 button {
  border: none;
  height: 50px;
  width: clamp(130px, 20vw, 150px);
  padding: clamp(0, 20vw, 2em) clamp(0, 10vw, 1em);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: -0.05em;
  border-radius: 100px;
  cursor: pointer;
}

.buttons-layout-3 button:nth-child(1) {
  background: var(--black);
  color: #fff;
}

.buttons-layout-3 button:nth-child(2) {
  background: #e1e1e1;
  color: #000;
}

.row-layout-3 {
  position: relative;
  overflow: hidden;
}

.row-layout-3 p {
  transition: transform 500ms cubic-bezier(0.33, 1, 0.68, 1);
}

.row-layout-3 p:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
}

.buttons-layout-3 button:hover .row-layout-3 p {
  transform: translateY(-100%);
}

.bottom-layout-3 {
  height: fit-content;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 50px;
}

.bottom-layout-3 img {
  height: clamp(20px, 5vw, 40px);
}

.layout-4 {
  background: #fff;
  padding: 2.5vw;
}

.main-layout-4 {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-layout-4 {
  width: 40%;
}

.content-layout-4.left {
  position: sticky;
  top: 0;
  left: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.content-layout-4.left h1 {
  font-size: clamp(50px, 7.5vw, 100px);
  font-weight: 500;
  letter-spacing: -0.1em;
}

.symbol-layout-4 {
  height: clamp(60px, 7.5vw, 100px);
  width: clamp(60px, 7.5vw, 100px);
  background: #f5f5f5;
  padding: clamp(15px, 1.5vw, 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.symbol-layout-4 img {
  height: 65%;
  width: 65%;
}

.content-layout-4.right {
  height: fit-content;
  padding-block: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 200px;
}

.container-layout-4 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-layout-4 h2 {
  font-size: clamp(30px, 3vw, 40px);
  font-weight: 500;
  letter-spacing: -0.1em;
}

.container-layout-4 p {
  font-size: clamp(20px, 2vw, 22.5px);
  color: rgb(102 102 102 / 64%);
  letter-spacing: -0.075em;
  line-height: 1.5;
}

.layout-5 {
  background: #fff;
}

.content-layout-5 {
  height: fit-content;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(50px, 7.5vw, 100px);
}

.heading-layout-5 p {
  font-size: clamp(30px, 5vw, 40px);
  letter-spacing: -0.1em;
  opacity: 0.5;
  text-align: center;
}

.text-layout-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-layout-5 {
  position: relative;
  height: fit-content;
  width: fit-content;
  font-size: clamp(50px, 10vw, 120px);
  font-weight: 500;
  letter-spacing: -0.1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-layout-5 span:nth-child(1) {
  color: #e2e2e2;
  padding-inline: 5px;
}

.row-layout-5 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.layout-6 {
  background: #f5f5f5;
}

.round-wrapper-layout-6 {
  position: relative;
  height: clamp(150px, 30vw, 300px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.round-layout-6 {
  position: absolute;
  height: 100%;
  width: 110%;
  background: #fff;
}

.content-layout-6 {
  height: fit-content;
  width: 100%;
  padding: 100px 2.5vw;
}

.row-layout-6 {
  position: relative;
}

.row-layout-6 h1 {
  font-size: clamp(50px, 10vw, 125px);
  font-weight: 500;
  letter-spacing: -0.075em;
  line-height: 1.5;
}

.row-layout-6 h1:nth-child(1) {
  color: #e4e4e4;
}

.row-layout-6 h1:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.layout-7 {
  height: fit-content;
  width: 100%;
  background: #f5f5f5;
  padding: 2.5vw;
}

.listing-layout-7 {
  display: flex;
  flex-direction: column;
}

.heading-layout-7 {
  height: fit-content;
  width: 100%;
  padding-block: 50px;
  display: flex;
  align-items: center;
  border-block: 1px solid #dfdfdf;
}

.title-layout-7,
.button-div-layout-7 {
  width: 50%;
}

.title-layout-7 h1 {
  font-size: clamp(45px, 7.5vw, 100px);
  font-weight: 500;
  letter-spacing: -0.1em;
}

.button-div-layout-7 button {
  background: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em 2.25em;
  font-size: clamp(15px, 2vw, 20px);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.row-layout-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row-layout-7 p {
  letter-spacing: -0.025em;
  transition: transform 500ms cubic-bezier(0.85, 0, 0.15, 1);
}

.row-layout-7 p:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.button-div-layout-7 button:hover .row-layout-7 p {
  transform: translateY(-100%);
}

.content-layout-7 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.subcontent-layout-7 {
  height: fit-content;
  width: 50%;
  padding-block: 50px;
}

.caption-layout-7 h2 {
  font-size: clamp(30px, 5vw, 40px);
  font-weight: 500;
  letter-spacing: -0.1em;
  margin-bottom: 50px;
}

.list-layout-7 ul {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.list-layout-7 li {
  font-size: clamp(20px, 2.5vw, 22.5px);
  color: rgb(102 102 102 / 64%);
  letter-spacing: -0.075em;
  list-style-type: none;
}

.layout-8 {
  background: #000;
}

.main-layout-8 {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-wrapper-layout-8 {
  position: relative;
  height: clamp(215px, 50vw, 600px);
  width: clamp(300px, 75vw, 850px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper-layout-8 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.text-layout-8 {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
}

.text-layout-8 h1 {
  position: absolute;
  font-size: clamp(50px, 9vw, 100px);
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.1em;
  line-height: 1;
}

.text-layout-8:nth-child(1) h1 {
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
}

.text-layout-8:nth-child(2) h1 {
  bottom: 50%;
  right: 55%;
  transform: translateY(50%);
}

.screen-layout-8 {
  position: relative;
  height: 85%;
  width: 90%;
  overflow: hidden;
}

.cover-wrapper-layout-8 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.cover-layout-8 {
  position: relative;
  height: 50%;
  width: 100%;
  background: #000;
}

.container-layout-8 {
  height: fit-content;
  width: 100%;
}

.container-layout-8 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-layout-8 {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.layout-9 {
  width: 100%;
  background: #f5f5f5;
  padding: 2.5vw;
}

.header-layout-9 {
  height: fit-content;
  width: 100%;
  padding-bottom: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(128 128 128 / 10%);
}

.header-layout-9 p {
  font-size: 20px;
  color: rgb(102 102 102 / 64%);
  letter-spacing: -0.05em;
}

.main-layout-9 {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontent-layout-9 {
  position: relative;
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subcontent-layout-9.left {
  align-items: center;
}

.subcontent-layout-9.left h1 {
  font-size: clamp(100px, 22.5vw, 275px);
  font-weight: 500;
  letter-spacing: -0.125em;
  line-height: 1;
}

.subcontent-layout-9.left p {
  transform: translateY(-75%);
  font-size: clamp(20px, 5vw, 40px);
  opacity: 0.5;
  letter-spacing: -0.075em;
}

.wrapper-layout-9 {
  height: fit-content;
  max-width: 400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bold-layout-9 h6 {
  font-size: clamp(20px, 2.5vw, 22.5px);
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1.75;
}

.small-layout-9 p {
  font-size: 17.5px;
  letter-spacing: -0.05em;
  color: rgb(102 102 102 / 64%);
}

.button-template-layout {
  height: fit-content;
  width: fit-content;
  background: #000;
  padding: 1.25em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.button-template-layout div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button-template-layout p {
  transition: transform 500ms cubic-bezier(0.65, 0, 0.35, 1);
}

.button-template-layout p:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
}

.button-template-layout:hover p {
  transform: translateY(-100%);
}

.layout-10 {
  padding: 2.5vw;
  background: #f5f5f5;
}

.header-layout-10 {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(128 128 128 / 10%);
}

.header-layout-10 h1 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.1em;
}

.container-layout-10 {
  padding-block: 25px;
}

.container-layout-10 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subcontainer-layout-10 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.subcontainer-layout-10 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subcontainer-layout-10 li {
  list-style-type: none;
  font-size: 17.5px;
  color: rgb(102 102 102 / 64%);
  letter-spacing: -0.05em;
}

.layout-11 {
  height: 100dvh;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper-layout-11 {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper-layout-11 h1 {
  font-size: clamp(40px, 12.5vw, 125px);
  font-weight: 500;
  color: #c6c9cc;
  letter-spacing: -0.1em;
  line-height: 1.25;

  text-align: center;
}

.wrapper-layout-11 h2 {
  width: 90%;
  max-width: 500px;
  font-size: clamp(20px, 2.5vw, 25px);
  font-weight: 500;
  color: rgb(198 201 204 / 80%);
  letter-spacing: -0.1em;
  line-height: 1.5;
  text-align: center;
}

.button-template-layout._11 {
  background: #e1e1e1;
  color: #000;
}

.wrapper-layout-11 > p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12.5px;
  color: rgb(198 201 204 / 80%);
}

.content-section {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-section {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
  .archive-container {
    width: 60vw;
  }

  .main-layout-4 {
    flex-direction: column;
  }

  .content-layout-4.left {
    height: fit-content;
    justify-content: flex-start;
    width: 100%;
    padding-top: 75px;
  }

  .content-layout-4.right {
    width: 100%;
  }

  .row-layout-5 span:nth-child(2) {
    white-space: wrap;
  }

  .row-layout-6 h1:nth-child(2) {
    white-space: wrap;
  }

  .subcontent-layout-7 {
    width: 100%;
  }

  .list-layout-7 {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: clamp(100px, 20vw, 200px);
  }

  .main-layout-9 {
    /* height: fit-content; */
    flex-direction: column;
  }

  .subcontent-layout-9 {
    width: 100%;
  }

  .subcontent-layout-9.left {
    width: 100%;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .subcontent-layout-9.left p {
    transform: translateY(0);
  }

  .wrapper-layout-9 {
    margin: 0;
  }

  .subcontainer-layout-10 {
    flex-direction: column;
  }
}

@media (max-width: 426px) {
  .top-layout-3 {
    flex-direction: column;
  }

  .layout-5 {
    margin-top: 50px;
  }

  .button-div-layout-7 {
    display: flex;
    justify-content: flex-end;
  }

  .button-div-layout-7 button {
    padding: 1em;
  }

  .list-layout-7 {
    justify-content: space-between;
    gap: 0;
  }

  .container-layout-10 {
    flex-direction: column;
  }
}
